@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300;400;500;700&display=swap');

/* font-family: 'Playfair', serif; */

:root{ 
    --sideBGColor: #040b1a;
   --themeColor: #00A78E;
   --iconColor: #2c2F3F;
   --textColor: #525252;
   --bgColor: #F7F7F7;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
}

header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.4s;
    z-index: 99;
    bottom: 0;
    overflow-y: auto;
    background-color: var(--sideBGColor);
}

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    border-radius: 50%;
    margin: 10px 0;
    border: 7px solid var(--iconColor);
}

header .profile h1{
    color: white;
    font-weight: 700;
}

header .profile .social-icons a{
    display: inline-block;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    background-color: var(--iconColor);
    color: white;
    transition: 0.4s;
    margin: 1.5px;
}

header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

header nav{
    margin-top: 30px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 5px 0;
    font-size: 15px;
}

header nav ul li a i{
    margin-right: 10px;
    transition: 0.4s;
    font-size: 15px;
}

header nav ul li a:hover i{
    color: var(--themeColor);
}

header nav ul li .active i{
    color: var(--themeColor);
}

header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    color: white;
    width: 250px;
    font-size: 14px;
    padding: 5px;
    bottom: 0;
    letter-spacing: 0.6px;
    position: fixed;
    left: 0;
    transition: 0.4s;
}

header .footer p a{
    color: white;
    text-decoration: none;
    text-decoration: none;
}

header .footer p a:hover{
    color: var(--themeColor);
}

/* this is the menu toggle btn */

#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 40px;
    z-index: 999;
    border-radius: 50px;
    display: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}

/* this is mobile view */

@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }

    header .footer{
        left: -300px;
    }

    #MenuBtn{
        display: block;
    }
}


.mobile-nav-active header{
    left: 0;
}

.mobile-nav-active header .footer{
    left: 0;
}

main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
}

@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* this is the home section */
#home{
    height: 100vh;
    width: 100%;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 70px;
}

#home::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#home .home-row h1{
    font-size: 68px;
    color: white;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 10px;
    letter-spacing: -1px;
}

#home .home-row h1 span{
    color: var(--themeColor);
}

#home .home-row p{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

@media only screen and (max-width: 670px){
    #home{
        padding: 30px;
    }

    #home .home-row h1{
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 50px;
    }

    #home .home-row h1 br{
        display: none;
    }

    #home .home-row p{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 400;
    }
}